$black: #212121;
$black-lighten-1: #757575;
$black-lighten-2: #dbdbdb;
$black-lighten-3: #e0e0e0;
$black-lighten-4: #fafafa;
$white: #ffffff;
$blue: #4eb2d6;
$blue-darken: #004c6d;
$blue-lighten: #9fd5e9;
$red: #d93535;
